{%- style -%}

:root{
    --padding-top: {{ section.settings.section-gap-mobile-top }}px;
    --padding-bottom: {{ section.settings.section-gap-mobile-bottom }}px;
    @media (min-width: 768px) {
        --padding-top: {{ section.settings.section-gap-tablet-top }}px;
        --padding-bottom: {{ section.settings.section-gap-tablet-bottom }}px;
    }
    @media (min-width: 768px) {
        --padding-top: {{ section.settings.section-gap-desktop-top }}px;
        --padding-bottom: {{ section.settings.section-gap-desktop-bottom }}px;
    }

}
{%- endstyle -%}

<div class="area-band" style="padding-top: var(--padding-top); padding-bottom: var(--padding-bottom);">
    <div class="area-text">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.description }}</p>
    </div>
    <div class="area-image">
        {% for block in section.blocks %}
        <div class="area-image-block">
        {{ block.settings.image | image_url: width: "276x" | image_tag: alt: block.settings.image.alt, loading: 'lazy' }}
        <span class="area-image-block-title">{{ block.settings.image_text }}</span>
    </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Text Image",
    "class": "homepage-section",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "Section Title",
            "label": "Section Title"
        },
        {
            "type": "inline_richtext",
            "id": "description",
            "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry...",
            "label": "Section Content"
        },
        {
            "type": "range",
            "id": "section-gap-desktop-top",
            "label": "Section space to for desktop",
            "min": 8,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 8
        },
        {
            "type": "range",
            "id": "section-gap-desktop-bottom",
            "label": "Section space bottom for desktop",
            "min": 8,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 8
        },
        {
            "type": "range",
            "id": "section-gap-tablet-top",
            "label": "Section space to for tablet",
            "min": 8,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 8
        },
        {
            "type": "range",
            "id": "section-gap-tablet-bottom",
            "label": "Section space bottom for tablet",
            "min": 8,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 8
        },
        {
            "type": "range",
            "id": "section-gap-mobile-top",
            "label": "Section space to for mobile",
            "min": 8,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 8
        },
        {
            "type": "range",
            "id": "section-gap-mobile-bottom",
            "label": "Section space bottom for mobile",
            "min": 8,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 8
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Section Image",
            "limit": 4,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Section Image"
                },
                {
                    "type": "text",
                    "id": "image_text",
                    "label": "Text Over Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Text",
            "category": "custom"
        }
    ]
}
{% endschema %}